<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Card/Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="apple-touch-icon" sizes="180x180" href="{%  static   "favicon_io(1)/android-chrome-192x192.png"%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%  static "favicon_io(1)/favicon-32x32.png"  %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%  static  "favicon_io(1)/favicon-16x16.png" %}">
    <link rel="manifest" href="{%  static  "favicon_io(1)/favicon.ico" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{%  static  "css/shoppin.css" %}">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand text-white" href="#">WORLDEL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link mask flex-center text-white" href="{%  url   "calculator"  %}">HOME</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="{%  url "trend"  %}">TREND PRODUCTS</a>
              </li>
          </ul>
      </div>
  </nav>
    
    <div class = "card-wrapper">
      <div class = "card">
        <!-- card left -->
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img src = "{{ detail.img1.url }}" alt = "shoe image">
              <img src = "{{ detail.img2.url }}"alt = "shoe image">
              <img src = "{{ detail.img3.url }}" alt = "shoe image">
              <img src = "{{ detail.img4.url }}" alt = "shoe image">
            </div>
          </div>
          <div class = "img-select">
            <div class = "img-item">
              <a href = "#" data-id = "1">
                <img src ="{{ detail.img1.url }}"  alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "2">
                <img src ="{{ detail.img2.url }}" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "3">
                <img src ="{{ detail.img3.url }}" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "4">
                <img src = "{{ detail.img4.url }}" alt = "shoe image">
              </a>
            </div>
          </div>
        </div>
        <!-- card right -->
        <div class = "product-content">
          <h2 class = "product-title">{{ detail.title }}</h2>
          <div class = "product-rating">
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star-half-alt"></i>
            <span>4.7(21)</span>
          </div>

          <div class = "product-price">

            <p class = "new-price">New Price: <span>${{ detail.price }}</span></p>
          </div>

          <div class = "product-detail">
            <h2>about this item: </h2>
            <p>{{ detail.about }}</p>

            <ul>
              <li>Color: <span>{{ detail.color }}</span></li>
              <li>Available: <span>{{ detail.available }}</span></li>
              <li>Category: <span>{{ detail.category }}</span></li>
              <li>Shipping Area: <span>{{ detail.shipping_area }}</span></li>
              <li>Shipping Fee: <span>{{ detail.shipping }}</span></li>
            </ul>
          </div>

          <div class = "purchase-info">
            <button type = "button" class = "btn">
              <a class="aliexpress" href="https://aliexpress.ru/">
                see on aliexpress<i class = "fas fa-shopping-cart"></i>
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-light text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
              <!-- Facebook -->
              <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!"
                  role="button"><i class="fab fa-facebook-f"></i></a>

              <!-- Twitter -->
              <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="#!"
                  role="button"><i class="fab fa-twitter"></i></a>

              <!-- Google -->
              <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;" href="#!"
                  role="button"><i class="fab fa-google"></i></a>

              <!-- Instagram -->
              <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="#!"
                  role="button"><i class="fab fa-instagram"></i></a>

              <!-- Linkedin -->
              <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!"
                  role="button"><i class="fab fa-linkedin-in"></i></a>
              <!-- Github -->
              <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="#!"
                  role="button"><i class="fab fa-github"></i></a>
          </section>
          <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3 bg-dark" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white" target="_blank" href="http://worldel.uz/">WORLDEL.uz</a>
      </div>
      <!-- Copyright -->
  </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="{%  static    "main.js" %}"></script>
  </body>
</html>